body{
    background-color: #FAFAFA;
}
.main{
    background-color: #FFFFFF;
}
h1{
    font-size: 38px;
    font-family: Amsterdaam;
    padding-left: 48px;
}
.signup{
    border: 1px solid rgb(226, 189, 189);
    margin-left: 35%;
    margin-right: 40%;
    padding-left: 50px;
    margin-top: 10px;
    height: 40px;
    padding-top: 10px;
    background-color: whitesmoke;
}
.abc{
    color: #00B8FC;
    text-decoration: none;
}
.center{
    border: 1px solid rgb(226, 189, 189);
    margin-left: 35%;
    margin-right: 40%;
    padding-left: 40px;
    background-color: whitesmoke;
    
}
.name{
    width: 245px;
    height: 30px;
    border-radius: 0.9px;
    margin-top: 10px;
}
.names{
    width: 250px;
    height: 30px;
    border-radius: 0.9px;
    margin-top: 10px;

}
.names:active{
    color: blue

}
.or{
    text-align: center;
    padding-top: 10px;
    color: rgb(226, 189, 189);
}
.or5{
    height: 25px;
    padding: 0px auto;
}
.or1{
    text-align: center;
    padding-top: 10px;
    color: #385185;
}
.or2{
    text-align: center;
    padding-top: 10px;
    color: #00376B;
}
p{
    text-align: center;
    margin-right: 06%;
    padding-top: 15px;
}
img{
    height: 43px;
    margin-left: 37%;
}